{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block content %}

	<div class="container text-center">
		<div class="row">
			<div class="col-md-7 col-sm-12  text-white">
				<h6>TEAM RT2</h6>
				<h1>EXCITING ADVENTURE</h1>
				<p>
					Pay For Your Books And Start Reading!
				</p>
				<button class="btn btn-light px-5 py-2 primary-btn">
					We have a 50% reduction!
				</button>
			</div>
			<div class="col-md-5 col-sm-12  h-25">
				<img src="assets/header-img.png" alt="Book"/>
			</div>
		</div>
	</div>

	<main>
		<section class="section-1">
			<div class="container text-center">
				<div class="row">
					<div class="col-md-6 col-12">
						<div class="pray">
							<img src="assets/pexels-photo-1904769.jpeg" alt="Pray" class=""/>
						</div>
					</div>
					<div class="col-md-6 col-12">
						<div class="panel text-left">
							<h1>Our Provider - Open Library</h1>
							<p class="pt-4">
								One web page for every book ever published. It's a lofty but achievable goal.<br>
								To build Open Library, we need hundreds of millions of book records, a wiki interface, and lots of people who are willing to contribute their time and effort to building the site.
							</p>
							<p>
								The ultimate goal of the Open Library is to make all the published works of humankind available to everyone in the world. While large in scope and ambition, this goal is within our grasp. Achieving it will require the participation of librarians, authors, government officials and technologists.
								                Imagine what a comprehensive, open library could be! A talented math whiz who lives in a rural community can explore the works of high math. An elderly person can have a large print edition of any book ever published. An innovative young scholar can publish a book directly to this great library on subjects that might not otherwise make it through the long and difficult publication process.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-2 container-fluid p-0">
			<div class="cover">
				<div class="overlay"></div>
				<div class="content text-center">
					<h1>Some Features That Made Us Unique</h1>
					<p>
						We sell the best books in the market. We have a variety of books that you can choose from.
					</p>
				</div>
			</div>
			<div class="container-fluid text-center">
				<div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
					<div class="rect">
						<h1>2345</h1>
						<p>Happy Client</p>
					</div>
					<div class="rect">
						<h1>6784</h1>
						<p>Stars</p>
					</div>
					<div class="rect">
						<h1>7356</h1>
						<p>Books Sold</p>
					</div>
					<div class="rect">
						<h1>81234</h1>
						<p>Total Books</p>
					</div>
				</div>
			</div>


			<div class="purchase text-center">
				<h1>Purchase Whatever You Want</h1>
				<p>
					We are here to make your life easier.
				</p>
				<div class="cards">
					<div class="d-flex flex-row justify-content-center flex-wrap">
						<div class="card">
							<div class="card-body">
								<div class="title">
									<h5 class="card-title">PDF</h5>
								</div>
								<p class="card-text">
									With supporting text below as a natural lead-in.
								</p>
								<div class="pricing">
									<h1>77.99 TND</h1>
									<a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Purchase Now</a>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-body">
								<div class="title">
									<h5 class="card-title">E-book</h5>
								</div>
								<p class="card-text">
									With supporting text below as a natural lead-in.
								</p>
								<div class="pricing">
									<h1>99.99 TND</h1>
									<a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Purchase Now</a>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-body">
								<div class="title">
									<h5 class="card-title">Print Copy</h5>
								</div>
								<p class="card-text">
									With supporting text below as a natural lead-in.
								</p>
								<div class="pricing">
									<h1>58.99 TND</h1>
									<a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Purchase Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section-4">
			<div class="container text-center">
				<h1 class="text-dark">What our Reader's Say about us</h1>
				<p class="text-secondary">Let's Turn Concepts into Tangible Reality</p>
			</div>
			<div class="team row ">
				<div class="col-md-4 col-12 text-center">
					<div class="card mr-2 d-inline-block shadow-lg">
						<div class="card-img-top">
							<img src="assets/iheb.jpg" class="img-fluid border-radius p-4" alt="">
						</div>
						<div class="card-body">
							<h3 class="card-title">Iheb Gafsi</h3>
							<p class="card-text">
								A second year ICT Engineering Student at INSAT, AI Engineer at SilverBrain AI AG Zü CH. The author of Graph Theory Odyssey.<br>
								Chairman of Data Overflow 2024 and Mentor at TeensInAI.
							</p>
							<a href="#" class="text-secondary text-decoration-none">Go INSAT</a>
							<p class="text-black-50">Student</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-12 text-center">
					<div class="card mr-2 d-inline-block shadow-lg">
						<div class="card-img-top">
							<img src="assets/farah.jpg" class="img-fluid border-radius p-4" alt="">
						</div>
						<div class="card-body">
							<h3 class="card-title">Farah Ayeb</h3>
							<p class="card-text">
								A second year ICT Engineering Student at INSAT, Member of INSAT Securinets
								<br>
								Web and Cybersecurity enthusiast.
							</p>
							<a href="#" class="text-secondary text-decoration-none">Go INSAT</a>
							<p class="text-black-50">Student</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-12 text-center">
					<div class="card mr-2 d-inline-block shadow-lg">
						<div class="card-img-top">
							<img src="assets/douaa.jpg" class="img-fluid border-radius p-4" alt="">
						</div>
						<div class="card-body">
							<h3 class="card-title">Douaa Bousnina</h3>
							<p class="card-text">
								A second year ICT Engineering Student at INSAT, Member of INSAT Junior Entreprise, Member of INSAT Securinets
								<br>
								Web and Cybersecurity enthusiast.
							</p>
							<a href="#" class="text-secondary text-decoration-none">Go INSAT</a>
							<p class="text-black-50">Student</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-12 text-center">
					<div class="card mr-2 d-inline-block shadow-lg">
						<div class="card-img-top">
							<img src="assets/rayene.jpg" class="img-fluid border-radius p-4" alt="">
						</div>
						<div class="card-body">
							<h3 class="card-title">Rayene Knani</h3>
							<p class="card-text">
								A second year ICT Engineering Student at INSAT, Member of INSAT Securinets
								<br>
								Web and Cybersecurity enthusiast.
							</p>
							<a href="#" class="text-secondary text-decoration-none">Go INSAT</a>
							<p class="text-black-50">Student</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-12 text-center">
					<div class="card mr-2 d-inline-block shadow-lg">
						<div class="card-img-top">
							<img src="assets/omar.jpg" class="img-fluid border-radius p-4" alt="">
						</div>
						<div class="card-body">
							<h3 class="card-title">Omar Sagga</h3>
							<p class="card-text">
								A second year ICT Engineering Student at INSAT, Member of INSAT Securinets
								<br>
								Web and Cybersecurity enthusiast.
							</p>
							<a href="#" class="text-secondary text-decoration-none">Go INSAT</a>
							<p class="text-black-50">Student</p>
						</div>
					</div>
				</div>

			</div>

		</section>
	</main>


{% endblock %}
