<div class="right-section">
	<div class="nav">
		<button id="menu-btn">
			<span class="material-icons-sharp">
				menu
			</span>
		</button>
<<<<<<< HEAD
		{# <div class="dark-mode">
=======
		<div class="dark-mode">
>>>>>>> feature/iheb
			<span class="material-icons-sharp active">
				light_mode
			</span>
			<span class="material-icons-sharp">
				dark_mode
			</span>
<<<<<<< HEAD
		</div> #}
=======
		</div>
>>>>>>> feature/iheb

		<div class="profile">
			<div class="info">
				<p>
					<b>Admin</b>
				</p>
			</div>
			<div class="profile-photo">
				<img src="{{asset('/photos/profile-1.jpg')}}">
			</div>

		</div>
	</div>
</div>
